* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 3rem;
  }

  @import "header";
  @import "index";
  @import "contacto";
  @import "consejos";
  @import "footer";

.textoCentral {
  font-size: 7rem;
}

.boxForm {
  width:90%;
  font-size: 1.5rem;
}

.campoTienda {
  font-size: 1.5rem;
  width:90%;
}

.imagenTienda {
  width: 90%;
  height: 300px;
}

.botonConfirma {
  display: block;
}

.centradoImagen {
  display: inline-block;
  align-items: center;
}