* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 2.8rem;
  }

  @import "header";
  @import "variables";
  @import "index";
  @import "contacto";
  @import "consejos";
  @import "footer";

.textoCentral {
  font-size: 7rem;
}

@mixin mixin {
  width: 90%;
  font-size:1.5rem; 
}

.boxForm {
 @include mixin;
}


.campoTienda {
  @include mixin;
}

.imagenTienda {
  width: 90%;
  height: 300px;
}

.botonConfirma {
  display: block;
}

.centradoImagen {
  display: inline-block;
  align-items: center;
}